body {
	background-image: url('/assets/pikachubackground.jpg');
	background-size: 80%;
	background-attachment: fixed;
	}

/* You can add global styles to this file, and also import other style files */
